$color-priamy: #f28f3a;
$color-white: #fff;
$color-grey: #d9d9d9;
$border-color: #eee;
$success-color: #4caf50;
$error-color: #ec3c4B;
$warning-color: #ffc107;

/* Cell Component */
$cell-value-color: #999;

/* Header Component */
$header-height: 80px;
$header-background-color: #fffefa;

/* Button Component */
$button-default-color: #282828;
$button-default-background-color: #f6f8fa;
$button-default-plain-color: #282828;
$button-default-box-shadow: 0 0 1px #eee;
$button-primary-color: #fff;
$button-primary-background-color: #f28f3a;
$button-danger-color: #fff;
$button-danger-background-color: #ec3c4B;

/* Tab Item Component */
$tab-item-font-size: 32px;

/* Tabbar Component */
$tabbar-background-color: #fff;
$tabbar-tab-item-selected-color: $color-priamy;

/* Navbar Component */
$navbar-background-color: #fff;
$tabbar-tab-item-selected-background-color: #eaeaea;

/* Checklist Component */
$checklist-title-color: #999;

/* Radio Component */
$radio-title-color: #999;

/* z-index */
$z-index-normal: 1;
