$color-priamy: #f28f3a;
$color-white: #fff;
$color-grey: #e9e9e9;
$color-base: #282828;
$color-text-light: #555;
$color-text-lighter: #999;
$border-color: #d4d4d4;
$success-color: #4caf50;
$error-color: #ec3c4b;
$warning-color: #ffc107;

/* Cell Component */
$cell-value-color: #999;

/* Header Component */
$header-height: 80px;
$header-background-color: $color-white;

/* Button Component */
$button-default-color: $color-text-lighter;
$button-default-background-color: $color-grey;
$button-default-plain-color: $color-text-lighter;
$button-default-box-shadow: 0 0 1px $border-color;
$button-primary-color: $color-white;
$button-primary-background-color: $color-priamy;
$button-danger-color: $color-white;
$button-danger-background-color: $error-color;

/* Tab Item Component */
$tab-item-font-size: 32px;

/* Tabbar Component */
$tabbar-background-color: $color-white;
$tabbar-tab-item-selected-color: $color-priamy;

/* Navbar Component */
$navbar-background-color: $color-white;
$tabbar-tab-item-selected-background-color: $color-grey;

/* Checklist Component */
$checklist-title-color: $color-text-lighter;

/* Radio Component */
$radio-title-color: $color-text-lighter;

/* z-index */
$z-index-normal: 1;
