$color-primary: #24b1b2;
$color-white: #fff;
$color-grey: #eee;
$color-base: #222;
$color-text-primary: #13b9bf;
$color-text-light: #666;
$color-text-lighter: #999;
$color-gray-lightest: #f7f7f7;
$color-background: #f4f4f4;
$border-color: #eee;
$border-color-dark: #ccc;
$success-color: #4caf50;
$error-color: #fa405e;
$warning-color: #ffc107;

/* Cell Component */
$cell-value-color: $color-base;

/* Header Component */
$header-height: 80px;
$header-background-color: $color-white;

/* Button Component */
$button-default-color: $color-text-light;
$button-default-background-color: $color-gray-lightest;
$button-default-plain-color: $color-text-light;
$button-default-plain-border-color: $border-color-dark;
$button-default-box-shadow: 0 0 1px $border-color;
$button-primary-color: $color-white;
$button-primary-background-color: $color-primary;
$button-danger-color: $color-white;
$button-danger-background-color: $error-color;
$button-disabled-color: $color-text-lighter;
$button-disabled-background-color: $color-grey;
$button-disabled-plain-color: $color-text-lighter;

/* Tab Item Component */
$tab-item-font-size: 32px;

/* Tabbar Component */
$tabbar-background-color: $color-white;
$tabbar-tab-item-selected-color: $color-primary;

/* Navbar Component */
$navbar-background-color: $color-white;
$tabbar-tab-item-selected-background-color: $color-grey;

/* Checklist Component */
$checklist-title-color: $color-text-lighter;

/* Radio Component */
$radio-title-color: $color-text-lighter;

/* Range Component */
$range-progress-border-radius: 3px;
$range-background-primary-color: $color-primary;
$range-background-color: transparent;
$range-thumb-size: 30px;

/* z-index */
$z-index-normal: 1;
